import React from 'react'
import styles from './{{name}}.module.scss';
import classNames from 'classnames/bind';

const cx = classNames.bind(styles);


const {{name}} = () => {
  return (
    <>
    <div>Component content</div>
    </>
  )
}

export default {{name}}