import React from 'react'
import styles from './{{name}}.module.css'

export const {{name}} = ({ children })=> {
  return (
    <>
     <div className={styles.{{name}}}>
       {{name}} content
     </div>
    </>
  )
}