import React from 'react'

type Props = {
  className: string
}

const {{name}} = ({ className }: Props) => {
  return (
    <>
    <div className={className}>
      Component content
    </div>
    </>
  )
}

export default {{name}}